In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [244]:
df =pd.read_csv('name_gender_dataset.csv')
df2=pd.read_csv('names-mr.csv',sep=';')

In [245]:
df.drop(['Count','Probability'], axis=1, inplace=True)

In [246]:
df2['NOMPL'] = df2['NOMPL'].str.split().str[0]

In [247]:
df2

           NOMPL SEXE
0      Fatimetou    F
1         Mariem    F
2          Aicha    F
3          Nanna    F
4          Vatme    F
...          ...  ...
67877    Maroufa    M
67878   Muhammed    M
67879      Alieu    M
67880      Abdou    M
67881   Muhammed    M

[67882 rows x 2 columns]

In [248]:
df

           Name Gender
0         James      M
1          John      M
2        Robert      M
3       Michael      M
4       William      M
...         ...    ...
147264   Zylenn      M
147265   Zymeon      M
147266   Zyndel      M
147267   Zyshan      M
147268    Zyton      M

[147269 rows x 2 columns]

In [249]:

# Rename the columns in df2 to match df
df2.rename(columns={'NOMPL': 'Name', 'SEXE': 'Gender'}, inplace=True)

In [250]:
df = pd.merge(df, df2, how='outer')
df

             Name Gender
0           James      M
1            John      M
2          Robert      M
3         Michael      M
4         William      M
...           ...    ...
213918      SUKRI      M
213919     Ndiaka      M
213920  Boubacare      M
213921      Kawsu      M
213922    Maroufa      M

[213923 rows x 2 columns]

In [251]:
df['Name'] = df['Name'].str.lower()

In [252]:
df['Gender'].replace({'F': 0, 'M': 1}, inplace=True)
df

             Name  Gender
0           james       1
1            john       1
2          robert       1
3         michael       1
4         william       1
...           ...     ...
213918      sukri       1
213919     ndiaka       1
213920  boubacare       1
213921      kawsu       1
213922    maroufa       1

[213923 rows x 2 columns]

In [230]:

df = df.dropna()
df = df[(df['Gender'] == 0) | (df['Gender'] == 1)]

In [231]:
X_train, X_test, Y_train, Y_test = train_test_split(df['Name'], df['Gender'], test_size=0.3, random_state=1000)

In [232]:
import numpy as np

In [234]:
cv = CountVectorizer()
X_train_cv = cv.fit_transform(X_train)
X_test_cv = cv.transform(X_test)

In [235]:
genre_predict_model = MultinomialNB(alpha=1.0, fit_prior=True)

In [236]:
genre_predict_model.fit(X_train_cv, Y_train)

MultinomialNB()

In [237]:
df =pd.read_csv('name_gender_dataset.csv')
df2=pd.read_csv('names-mr.csv',sep=';')

In [239]:
accuracy = genre_predict_model.score(X_test_cv, Y_test)
accuracy

0.6817551459245524

In [240]:
def find_genre(name):
    vect = cv.transform([name])
    res = genre_predict_model.predict(vect)
    res_prob = genre_predict_model.predict_proba(vect)
    print("Probabilités de chaque classe:", res_prob)
    print("Prédiction de genre:", res[0])
    
    if res[0] == 1:
        genre = 'Homme'
    else:
        genre = 'Femme'
    
    return genre

In [241]:
predicted_genre = find_genre("abou bekrin")
print("Genre prédit:", predicted_genre)

Probabilités de chaque classe: [[0.00477189 0.99522811]]
Prédiction de genre: 1
Genre prédit: Homme